<br>
<br>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Start:</strong>
  <%= @course.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @course.finish %>
</p>

<p>
  <strong>Student(s):</strong>
  <%= @course.users.map(&:name).join("<br />").html_safe %>
</p>

<h2>Lessons</h2>
<% for lesson in @course.lessons %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Lesson Title</th>
      <th scope="col">Status</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= lesson.title %></th>
      <td><%= lesson.status.name %></td>
      <td><%= link_to 'Click to edit', edit_course_lesson_path(@course, lesson) %></td>
    </tr>
  </tbody>
</table>
<% end %>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Add Lesson', course_lessons_path(@course) %> |
<%= link_to 'Back', courses_path %>
