<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Start:</strong>
  <%= @course.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @course.finish %>
</p>

<p>
  <strong>Student(s):</strong>
  <%= @course.users.map(&:name).join("<br />").html_safe %>
</p>

<h2>Lessons</h2>
<% for lesson in @course.lessons %>
    <ul>
      <li><%= lesson.title %></li>
  </ul>
<% end %>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Add Lesson', course_lessons_path(@course) %> |
<%= link_to 'Back', courses_path %>
