<!DOCTYPE html>
<html>
  <head>
    <title>AttSys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar2' %>

    <!-- Alerts -->
    <% if notice %> <div class="alert alert-info" role="alert"> <%= notice %> </div> <% end %>
    <% if notice %> <div class="alert alert-warning" role="alert"> <%= alert %> </div> <% end %>

    <%= yield %>
  </body>
</html>
